<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Grid</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        table {
            border-collapse: collapse;
        }

        td {
            width: 30px;
            height: 30px;
            text-align: center;
            border: 0px solid #000;
        }

        input {
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            font-size: 14px;
            border: 1px solid #858585;
        }

        .sp-r {
            margin-right: 5px;
        }

        input[type="number"] {
            /* Remove up/down arrows for number inputs */
            -moz-appearance: textfield;
            appearance: textfield;
        }

        /* Remove up/down arrows for WebKit browsers */
        input[type="number"]::-webkit-inner-spin-button,
        input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .bottom_border {
            border-bottom: 2px solid black;
        }

        .right_border {
            border-right: 2px solid black;
        }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>
    <form class="mx-auto" id="sudokuForm">
        <table>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="right_border bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="right_border bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="right_border bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="right_border bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
                <td><input type="number" min="1" max="9" value="" class="bottom_border"></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>
            <tr>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value="" class="right_border"></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
                <td><input type="number" min="1" max="9" value=""></td>
            </tr>


        </table>
        <div class="container-fluid text-center mt-4">
            <button type="button" class="btn btn-primary mx-auto" onclick=submitForm()>Submit</button>
            <button type="button" class="btn btn-warning mx-auto ml-4" onclick=clearInputs()>Clear</button>
        </div>

    </form>

    <script>

        function clearInputs() {
            const inputElements = document.querySelectorAll('#sudokuForm input');

            inputElements.forEach((input) => {
                input.value = "";
            });
        }

        function prepareData() {
            const inputElements = document.querySelectorAll('#sudokuForm input');
            const sudokuArray = [];
            inputElements.forEach((input) => {
                sudokuArray.push(parseInt(input.value) || 0);
            });
            return sudokuArray;
        }

        function submitForm() {
            const formData = prepareData()

            fetch('/solve', {
                method: 'POST',
                body: formData
            })
                .then(response => response.text())
                .then(data => {
                    updateInputs(JSON.parse(data)["solution"]["puzzle"])
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function updateInputs(array) {
            const inputs = document.querySelectorAll('#sudokuForm input');

            inputs.forEach((input, index) => {
                const rowIndex = Math.floor(index / 9);
                const colIndex = index % 9;

                input.value = array[rowIndex][colIndex] || '';
            });
        }

        allInputs = document.querySelectorAll('#sudokuForm input')

        allInputs.forEach((input) => {
            input.addEventListener("input", function (event) {
                if (!/^[1-9]$/.test(event.target.value)) {
                    event.target.value = event.target.value.slice(-1)
                }
                // my favorite edge case
                if (event.target.value == 0) {
                    event.target.value = ""
                }
            })
        })

    </script>


</body>

</html>